*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
#heading{
    color: beige;
    font-size: 30px;
}

body{
    width: 100%;
    height :100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg,rgb(83, 81, 81),rgb(19, 19, 19),rgb(8, 8, 8));
}

.calculator{
    border: transparent;
    /*background-color: black;*/
    padding: 20px;
    margin: 10px;
    border-radius: 17px;
    background:transparent;
    box-shadow: 0 3px 7px gray;
}

input{
width: 100%;
text-align: right;
font-size: 30px;
border: none;
border-radius: 5px;
background:transparent;
text-decoration-color: antiquewhite;
padding: 20px;
margin: 2px;
box-shadow: 0px 3px 15px gray;
color: antiquewhite;


}

button{
    border: none;
    width: 50px;
    height: 50px;
    margin: 12px;
    margin-left: 40px;
    margin-right: 0px;
    padding-left: 2px;
    border-radius: 50%;
    font-size: 20px;
    color: antiquewhite;
    background: transparent;
    box-shadow: 0px 3px 15px lightgray;
    cursor:pointer;
}

#equalto{
    background-color: orangered;

}
 

.operator{
    color: green;
}